{% extends 'main/base.html' %}
{% load static %}
{% block title %}マイページ{% endblock %}

{% block content %}
<h1 class="page-title">マイページ</h1>

<div class="profile">
  <div class="icon">
    <img src="{% static 'images/' %}{{ user.icon }}" alt="アイコン" width="100">
  </div>
  <div class="nickname">{{ user.nickname }}</div>
</div>

<h2 class="section-title">あつめたシール</h2>
<div class="stickers">
  {% for s in stickers %}
    <img class="sticker-img" src="{% static 'stickers/' %}{{ s }}" alt="シール">
  {% empty %}
    <p class="no-sticker">まだシールがありません</p>
  {% endfor %}
</div>

{% endblock %}
