{% extends 'main/base.html' %}
{% block title %}もんだい{% endblock %}

{% block content %}
<a href="{% url 'mypage' %}"><button>マイページ</button></a>

<h1>{{ title }}</h1>
<p>{{ question }}</p>

<form action="{% url 'answer' %}" method="post">
  {% csrf_token %}
  {% for choice in choices %}
    <input type="radio" name="answer" value="{{ choice }}"> {{ choice }}<br>
  {% endfor %}

  <input type="hidden" name="correct" value="{{ correct }}">
  <input type="hidden" name="next_url" value="{{ next_url }}">
  <input type="hidden" name="current_url" value="{{ request.resolver_match.url_name }}">
  <input type="submit" value="こたえる">
</form>
{% endblock %}



