{% extends 'main/base.html' %}
{% block title %}タイムライン{% endblock %}

{% block content %}
<h1>タイムライン</h1>

<form method="POST" class="comment-form">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">投稿</button>
</form>

<hr>

<div id="timeline-list">
  {% for msg in messages %}
    <div class="comment-block">
      <span class="nickname">{{ msg.owner.username }}</span>
      <p class="comment-content">{{ msg.content }}</p>
      <span class="timestamp">{{ msg.pub_date|date:"n/j H:i" }}</span>

      <form method="POST" action="{% url 'good' msg.id %}">
        {% csrf_token %}
        <button class="good-button">👍 {{ msg.good_count }}</button>
      </form>
    </div>
  {% endfor %}
</div>
{% endblock %}
