<div id="timeline-container">
  <h4>タイムライン</h4>
  <div id="timeline-list">
  {% for m in messages %}
    {% if m.id %}
      <div class="comment-block">
        <p>{{ m.content }}</p>
        <form method="post" action="{% url 'good' m.id %}">
          {% csrf_token %}
          <button>👍 {{ m.good_count }}</button>
        </form>
      </div>
    {% endif %}
    {% empty %}
    <p>まだコメントはありません。</p>
  {% endfor %}
</div>

  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">送信</button>
  </form>
</div>
