/* タイムライン全体 */
#timeline-container {
  position: fixed;
  right: 0;
  top: 100px;
  width: 300px;
  margin: 0 20px;
  background: #bed3e9ed;
  border-left: 2px solid #0352f661;
  border-radius: 10%;
  padding: 10px;
  box-shadow: 0px 1px 10px 1px #0352f6;
  z-index: 1000;
}

/* 各メッセージブロック */
.message-block {
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
  font-family: sans-serif;
}

/* ユーザー名 */
.nickname {
  font-weight: bold;
  color: #333;
  font-size: 0.9rem;
}

/* メッセージ本文 */
.message-content {
  margin: 4px 0;
  font-size: 0.95rem;
  color: #222;
}

/* 投稿日時 */
.timestamp {
  font-size: 0.8rem;
  color: #999;
}


/* メッセージ投稿フォーム */
.message-form {
  margin-top: 10px;
}

.message-form textarea {
  width: 93%;
  height: 19px;
  font-size: 20px;
  line-height: 20px;
  resize: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.message-form button {
  width: 100%;
  margin-top: 5px;
  padding: 6px;
  font-size: 20px;
  font-weight: bold;
  background-color: #4e73df;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-form button:hover {
  background-color: #2e59d9;
}

#timeline-list {
  margin-top: 20px;
}

.comment-block {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.nickname {
  font-weight: bold;
  color: #333;
}

.comment-content {
  margin: 5px 0;
}

.timestamp {
  font-size: 0.8em;
  color: #888;
}

